@media only screen and (min-width: 551px) {


body {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    color: #F9c307;
    }

nav {
    background: ##1e1a1a;
    color: #F9c307;
    display: flex;
    justify-content: space-between;
    }
nav .mainMenu {
    display: flex;
    list-style: none;
    }
nav .mainMenu li a{
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #F9c307;
    font-size: 1.5rem;
    }
nav .mainMenu li a:hover{
    background: #fbdb6b;
    }    
nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
    }
nav .mainMenu .closeMenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
    }
h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 80px;
    font-weight: 700;
    color: #F9c307;
    text-align: center;
    padding: 20px;
    }
h2{
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    font-weight: 700;
    text-decoration: none;
    color: #F9c307;
    text-align: center;
    }

.banner {
   /* background-image: url("/images/dressform1.jpg");*/
    background-color:#393232;
    background-position: auto;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    }
.hero-image {
    background-image: url("/images/thread.jpg");
    /*filter: opacity(85%);*/
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    }
.row3 {
    display: none;
}
.h3 {
    display: none;
}
    /*end media query

html {
    -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;

}

* {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;

}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}